* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.header {
  padding: 2rem;
  width: 100%; 
  height: auto; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
}


.header .menu-container {
  display: flex;
  align-items: center;
}

.header .menu {
  margin: 0 0 0 1rem; 
  font-size: 2rem; 
}

.header .menu-icon {
  cursor: pointer;
  font-size: 2.4rem; 
}

.header .logo {
  width: 12.8re,; 
  height: auto;
}

.header .search-icon {
  cursor: pointer;
  font-size: 2rem; 
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.search-input {
  width: calc(100% - 4rem); 
  padding: 1rem;
  padding-right: 4rem;
  font-size: 1rem;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
  pointer-events: none;
}

.ButtonDigital {
  background-color: #c92071;
  border: none;
  color: white;
  width: 33.5rem;
  height: 4.8rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  margin: 4rem 3rem;
}
